<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">
<head>
    <title>Edit Product</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Edit User</h3>
        </div>
        <div class="panel-body">
            <form th:object="${user}" th:action="@{/admin/save}" method="post">
                <tr
                        class="form-group">
                    <td><label for="name">Name</label></td>
                    <td><input type="hidden" class="form-control" id="id" th:field="*{id}"/>
                        <input type="text" class="form-control" id="name" th:field="*{username}" placeholder="Name"/>
                        <input type="hidden" class="form-control" id="password" th:field="*{password}"/>
                    </td>
                </tr>

                <tr class="form-group">
                    <td><label>Role</label></td>
                    <td><select class="form-control" th:field="*{roles}" style="width: 145px">
                        <option value=""> --</option>
                        <option th:each="role : ${roleList}"
                                th:value="${role.id}"
                                th:utext="${role.name}"/>
                        </option>
                    </select>

                </tr>

                <td>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary" value="Save">Save</button>
                  </td>
                </tr>
            </form>
        </div>
        </table>
    </div>
</div> -->
</body>
</form>
</html>