<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <title>User Account Managment</title>

</head>
<body>
<div class="form-style-2">
    <div class="form-style-2-heading">
<h1 th:inline="text">User Account Managment</h1>
    </div>
<span th:if="${error != null}" th:text="#{${error}}" />
<span th:if="${logout != null}" th:text="#{${logout}}" />

<div>
    <form th:action="@{/login}" method="post">
        <h2 >Log in</h2>
        <table>
            <tr>
                <td>User Name:</td>
                <td><input type="text" name="username" autofocus="true" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td/>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
        <h4><a th:href="@{/registration}">Create an account</a></h4>
    </form>
</div>
</div>
</body>
</html>