<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Twilio</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<h1 th:inline="text">Confirmation registration</h1>
<form th:action="@{/security}" method="post">
    <table>
        <tr>
            <td>Phone number</td>
            <td><input type="text" name="phonenumber" class="form-control"/></td>
        </tr>

        <tr>
            <td/>
            <td>
                <button type="submit">Send password</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>